//Color
$primary-color: rgba(114, 190, 49, 1);
$secondary-color: rgba(251, 211, 17, 1);
$text-color: rgba(54, 58, 64, 1);

//Font
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//Size
$height-campaigns-item: 300px;